.monthPickingView {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #5d5d5d;
}

.movingBtn {
    padding-left: 10px;
    padding-right: 10px;
    height: 14.1px;
    width: 14.1px;
}