.c-tab-type-a {
    margin:0;
}


.c-tab-type-a .row {
    margin:0;
    width: 100%;
    height:58px;  
    border-bottom: 1px solid lightgray;
    align-content: center;
    margin-top:13px;
}

.c-tab-type-a .col {
    width: 50%;
    padding:0;
 }


.c-tab-type-a label {
    width: 100%;
    color:#5d5d5d;    
    font-size: 12px;
    font-weight: bold;
    padding-right:31px;
}

.c-tab-type-a p {
    color:#5d5d5d;
    font-size: 12px; 
    padding-right:31px;   
}

.c-tab-type-a .form-control {
    color:#5d5d5d;
    font-size: 12px; 
    padding-right:30px;   

}

.c-tab-type-a .p-multi-select h6 {

    color:#5d5d5d;
    font-size: 12px; 
    font-weight: bold;
    padding-right:31px;
     
}

.c-tab-type-a .p-multi-select .flexShow {
    color:#5d5d5d;
    font-size: 12px;    
    padding-right:10px;
    z-index: 1;

}