

.c-tab-type-b .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height:58px;  
    border-bottom: 1px solid lightgray;
    align-content: center;
    margin:0;
}

.c-tab-type-b .col {
    width: 50%;
    height:58px;  
    padding:0;   
}


.c-tab-type-b label {
    color:#5d5d5d;    
    font-size: 12px;
    font-weight: bold;
}

.c-tab-type-b p {
    color:#5d5d5d;
    font-size: 12px;
      
}

