.p-multi-select {
    box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.47);
}

.p-multi-select h6 {
font-weight: bold;
width: 100%;
padding:10px 20px 0 0;
}

.p-multi-select ul.dropDown {
position: absolute;
right: 40px;
background-color: white;
box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.47);
list-style-type: none;
padding: 5px;
}

.p-multi-select img.plus {
margin-right: 10px;
}