.custom-toggle {
    width: 100%;
    font-size: 18px;
    font-family: Assistant-SemiBold;
    display: flex;
    flex-direction: row;
}

.custom-toggle svg {
    transform: rotate(270deg);
    float: left;
}

.custom-toggle.open svg {
    transform: rotate(90deg);
    float: left;
}

.custom-toggle small {
    font-size: 12px;
    font-family: Assistant-Regular;
    font-weight: bold;
}

.custom-toggle .area {
    flex-grow: 20;
}

.custom-toggle .icon {
    flex-grow: 1;
    padding-top: 10px;
}