.p-hours-new-report {
    width: 100%;
}

.p-hours-new-report .report-row {
    width: 100%;
    height: 80px;
    padding: 10px;
    box-shadow: 0 3px 3px #1a000010;
}

.p-hours-new-report .report-row .PortalInput {
    padding-top: 10px
}

/* .p-hours-new-report .report-row .PortalInput input {
    border: solid black;
} */