


.p-course-details .p-search-bar {
    margin-top: 45px;      
}


.p-course-details .header h1 {    
    
    font-size: 28px;
        
}


.p-course-details .header .icons img {
    margin: 10px; 
    float: left;   
}

.p-course-details .btnSelected{
    
    margin-bottom: 40px;   
}
